<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="BaseClass.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="virdee">
        <classes>
            <class name="android.TestScripts.emaILotppTest"/>
<!--            <class name="android.TestScripts.signatureTest"/>-->
            <class name="android.TestScripts.regIdTest"/>
            <class name="android.TestScripts.phoneCallTest"/>


            <class name="android.TestScripts.keyCardTest"/>
            <class name="android.TestScripts.shareKeyFunctionalTesting"/>


            <class name="android.TestScripts.servicesTest"/>
            <class name="android.TestScripts.newPaymentTest"/>

<!--            <class name="android.TestScripts.PaymentTest"/>-->
<!--            <class name="android.TestScripts.paymentShift4Test"/>-->


            <class name="android.TestScripts.HomePageTest"/>
            <class name="android.TestScripts.DeepLinkTest"/>
            <class name="android.TestScripts.mobileWebTest"/>
        </classes>
    </test>
</suite>